* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
}

.pix {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.pixForm {
    background-color: #444444;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 20px;
    min-width: 500px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pixForm label {
    color: #f2f2f2;
    font-size: 3em;
    cursor: text;
}

.pixForm input {
    text-align: center;
    padding: 15px;
    width: 500px;
    height: 80px;
    box-sizing: border-box;
    border-radius: 25px;
    box-shadow: 5px 10px #282c34;
    font-size: 2rem;
}

.pixForm input::placeholder {
    text-align: center;
    font-size: 2rem;
}

.pixForm button {
    text-align: center;
    padding: 15px;
    width: 400px;
    height: 70px;
    box-sizing: border-box;
    border-radius: 50px;
    font-size: 2rem;
    cursor: pointer;
    transition: all .3s;
}

.pixForm button:hover {
    color: #f2f2f2;
    background-color: #606060;
    width: 450px;
    height: 80px;
}

#copiaCola {
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    font-size: 14px;
    text-align: center;
    width: 200px;
    height: 30px;
    text-wrap: nowrap;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #3498db;
    color: #3498db;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

#copiaCola:hover {
    background-color: #3498db;
    color: #ffffff;
    border-color: #ffffff;
}

@media (max-width: 800px) {
    .pixForm {
      min-width: auto;
      max-width: auto;
    }
  
    .pixForm input {
      width: 100%;
    }
  
    .pixForm button {
      width: 100%;
    }
}
